@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-background:#212130;
    --bg-card-primary:#373b69;
    --bg-card-secondary:#22254b;
    --transition-speed: 600ms;

  }
  
  body {
    color: black;
    background-color: var(--bg-background);
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 2;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-background:#212130;
    --bg-card-primary:#373b69;
    --bg-card-secondary:#22254b;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --bg-background:#cac9c9;
    --bg-card-primary:#afafaf;
    --bg-card-secondary:#7e7d7d;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
    --bg-background:#fff2cd;
    --bg-card-primary:#e6d7af;
    --bg-card-secondary:#9b8959;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  /* ------------------------Search Bar------------------------- */

 .header-search {
     position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    height: 5rem;
    padding:.9375rem;
    min-width: 30%;
    background-color: var(--bg-secondary);
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
    z-index: 2;
}

.search-bar{
    max-width: 75%;
    padding: 0rem 2rem;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    height: 2.5rem;
    margin-right: 0.5rem;
    background-color: #f5f5f5;
}

.search-bar:focus{
    outline: none;
}

.search-icon{
    color: #7c7c7f;
    background-color: #59595c;    ;
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    display: flex;
}

.search-icon .fas{
    margin: auto;
}

.search-icon:hover{
    background-color: #DF49A6;
    color:#FF7EEE;
    transition: var(--transition-speed);
    transform: scale(1.1);
    overflow: hidden;
}

/* ----------------Main Area Design -----------------------*/

.popular-movies{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.popular-tv{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}


.movie{
  position: relative;
  border-radius: 3px;
  background-color: var(--bg-card-primary);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 1vw;
  width: 22.5%;
  cursor: pointer;
}

.movie img{
  max-width: 100%;
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;

}

.movie-info h3{
  font-size: 1.1vw ;
  margin: 0;
}

.movie-info span{
  font-size: 1.5vw;
  background-color: var(--bg-card-secondary);
  border-radius: 3px;
  /* padding:0.25rem 0.5rem; */
  padding: 0.3vw 0.5vw;
}

.movie-info span.green{color: yellowgreen;}
.movie-info span.orange{color: orange;}
.movie-info span.red{color: red;}

.overview{
  position: absolute;
  background-color: white;
  color: #000000;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: none;
  font-size: 0.7vw;
}
.movie:hover .overview{
  display: block;
  transform: translateY(0);
}



/* -------- Main Area design anime page ----------- */

.popular-anime{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.anime{
  border-radius: 3px;
  background-color: var(--bg-card-primary);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 1vw;
  width: 15.5%;
  max-width: 13.748437rem;
  cursor: pointer;
}

.anime img{
  /* max-height: 17.306875rem;
  height: 100%;
  width: auto; */
  max-width: 100%;
}

.anime-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;

}

.anime-info h3{
  font-size: 1vw ;
  margin: 0;
}

.anime-info span{
  font-size: 1.5vw;
  background-color: var(--bg-card-secondary);
  border-radius: 3px;
  /* padding:0.25rem 0.5rem; */
  padding: 0.3vw 0.5vw;
}

.anime-info span.green{color: yellowgreen;}
.anime-info span.orange{color: orange;}
.anime-info span.red{color: red;}